.sidebar-container {
  z-index: 10;
  position: fixed;
  top: 0;
  right: -2px;
  padding: 5px;
  width: 100%;
  max-width: 400px; /* Set a maximum width for the sidebar */
  height: 100vh;
  box-shadow: 0 8px 16px rgb(63, 0, 113);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: #1212bb;
  border-radius: 0.5rem;
  border: none;
  color: white;
  animation: slide-in 0.5s;
  overflow-y: auto; /* Add overflow-y property to enable scrolling */
}


.sidebar-container-desktop {
  gap: 2rem;
  box-shadow: 0 4px 8px rgb(63, 0, 113);
  border-radius: 0.25rem;
  padding: 1rem;
  padding-left: 2rem;
  display: none;
}

.close-icon {
  font-size: 2rem;
  width: 100%;
  margin-top: 2rem;
  margin-right:-300px;
}

.filter-options {
  align-self: center;
}

.filter-group {
  padding: 0.5rem 0;
}

.filter-label {
  font-weight: bold;
  color: #000;
}

.filter-option {
  display: flex;
  align-items: center;
  padding: 0.25rem 0;
}

.filter-text {
  font-weight: bold;
  font-size: 0.875rem;
  margin-left: 0.5rem;
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@media (min-width: 640px) {
  .sidebar-container-desktop {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    box-shadow: 0 4px 8px rgb(63, 0, 113);
    border-radius: 0.25rem;
    padding: 1rem;
    padding-left: 2rem;
    position: sticky;
    top: 44px;
    height: fit-content;
    margin-top: 2rem;
    width:400px;
  }
}
